packages/*/package-lock.json
sample/*/package-lock.json

# dependencies
node_modules/

# IDE
/.idea
/.awcache
/.vscode
/.devcontainer
/.classpath
/.project
/.settings
*.code-workspace

# bundle
packages/**/*.d.ts
packages/**/*.js

# compiled output
/dist
/tmp
/out-tsc

# misc
.DS_Store
lerna-debug.log
npm-debug.log
yarn-error.log
/**/npm-debug.log
/packages/**/.npmignore
/packages/**/LICENSE
*.tsbuildinfo
COMMIT_MESSAGE.md

# example
/quick-start
/example_dist
/example

# tests
/test
/coverage
/.nyc_output
build/config\.gypi

.npmrc

.nx/cache
.nx/workspace-data
